@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";
@import "./typography.css";
@import "./themes.css";
@import "./inputs.css";
@import "./buttons.css";

.sectionContainer {
  padding-left: 48px;
  padding-right: 48px;
}

.innerSectionContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.boxed {
  border: 1px black ;
  font-family: var(--fonts0);
  font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 1px;
    opacity: 0.75;
    text-align: center;
    padding: 64px 24px 48px;
    font-size: 3rem;
    font-weight: 525;
}