:root {
  --green0: #1fffd7;
  --green1: #0eedc5;
  --green2: #06d7b1;
  --black0: #032021;
  --black1: #02383a;
  --black2: #535b5b;
  --black3: #758788;
  --white0: #ffffff;
  --white1: #f1f1f1;
  --white2: #dadada;

  --fonts0: "Inter", sans-serif;
}
