#home.sectionContainer {
  padding: 0px;
}

header {
  background: var(--black0);
  padding-top: 32px;
  padding-bottom: 32px;
}

#topBar {
  background: var(--black0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-width: 100vw;
  width: calc(100% - 48px);
  padding: 0px 24px;
  position: fixed;
  z-index: 100;
  top: 0;
}

#smallScreenNavLinks {
  display: none;
  position: fixed;
  top: 80px;
  right: 24px;
  width: 80vw;
  max-width: 240px;
  padding: 24px;
  background: var(--white0);
  border-radius: 4px;
  box-shadow: 2px 4px 12px -4px rgba(0,0,0,0.5);
  z-index: 100;
  margin: 0 auto;
  border: 1px solid var(--black0);
}

#smallScreenNavLinks nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#smallScreenNavLinks nav a {
  font-weight: 700;
  padding: 16px 0;
  width: 100%;
  color: var(--black0);
}

#smallScreenNavLinks nav a:last-child {
  /* color: var(--green1); */
}

#headerLogo {
  max-width: 180px;
}

#navigationLinks {
  display: flex;
  grid-gap: 24px;
}

#navigationLinks a {
  color: var(--white0);
}

#navigationLinks a.activeLink {
  font-weight: 700;
}

#navigationLinks a:last-of-type {
  color: var(--green0);
}

#topBar #menuIcon,
#topBar #activeMenuIcon {
  max-width: 24px;
  position: absolute;
  right: 24px;
  cursor: pointer;
}

#topBar #activeMenuIcon {
  display: none;
  z-index: 150;
}

#headerContent {
  padding: 128px 48px 80px;
}

#headerContent h1 {
  margin-bottom: 24px;
}

#introText {
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 1px;
}

/* styles for tablets or some shit */

@media screen and (max-width: 860px) {
  #navigationLinks {
    display: none;
  }

  #topBar #menuIcon {
    display: flex;
  }
}

/* styles for phones or some shit */

@media screen and (max-width: 500px) {
  #smallScreenNavLinks {
    min-width: -webkit-fill-available;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
    padding: 48px 48px;
    top: 0;
    left: 0;
  }

  #smallScreenNavLinks nav a {
    text-align: right;
  }

  #topBar #activeMenuIcon {
    filter: invert(1);
  }
}