@import "./header.css";
@import "./services.css";
@import "./about.css";

section {
  padding: 80px 0;
  scroll-snap-type: y;
}

.sectionTitle {
  margin-bottom: 48px;
}

.sectionTitle .subtitle {
}

.sectionTitle .title {
}

.spacer24 {
  width: 24px;
  height: 24px;
  display: inline-flex;
}

details,
summary {
  font-family: var(--fonts0);
}

summary {
  font-weight: 700;
  font-size: 20px;
  margin: 24px 0px;
  cursor: pointer;
  user-select: none;
}

details {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

[data-scrollable="false"] {
  overflow: hidden;
}