@import "./header.css";
@import "./services.css";
@import "./about.css";

section {
  padding: 80px 0;
  scroll-snap-type: y;
}

.sectionTitle {
  margin-bottom: 48px;
}

.sectionTitle .subtitle {
}

.sectionTitle .title {
}

.spacer24 {
  width: 24px;
  height: 24px;
  display: inline-flex;
}
